
@{
    ViewBag.Title = "在线全自动考试";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}

<h2>在线全自动考试</h2>

<div class="account">
    <img src="~/Content/img/timg.jpg" alt="" width="740" height="350" />
</div>

