
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}

<h2>添加新教师</h2>

<form action="/Teachers/Create" method="post">
    <div class="form-horizontal">
        <h4>教师信息</h4>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2" for="TeacherName">姓名</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="姓名是必填项" id="TeacherName" name="TeacherName" type="text" value="" />
               @Html.ValidationMessage("TeacherName")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TeacherLoginName">登录名</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="登录名是必填项" id="TeacherLoginName" name="TeacherLoginName" type="text" value="" />
                @Html.ValidationMessage("TeacherLoginName")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TeacherLoginPwd">密码</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" data-val="true" data-val-required="密码是必填项" id="TeacherLoginPwd" name="TeacherLoginPwd" type="text" value="" />
                @Html.ValidationMessage("TeacherLoginPwd")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TeacherPhone">电话</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="TeacherPhone" name="TeacherPhone" type="text" value="" />
               
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TeacherEmail">Email</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="TeacherEmail" name="TeacherEmail" type="text" value="" />
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=" 保存 " class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a href="/Teachers">返回教师列表</a>
</div>


